html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main.main-content {
    flex: 1; 
}

footer {
    border-top: 1px solid #dee2e6;
    padding: 1rem 2rem;
    background-color: white;
}
